.customer-products-container {
  padding: 20px;
}

.section-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.product-grid-5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  color: black;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  background: white;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #f8f8f8;
  border-radius: 5px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}


.product-card:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #f8f8f8;
  border-radius: 5px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}


.product-details {
  margin-top: 10px;
  color: black;
}

.product-name {
  font-weight: bold;
  color: black;
  font-size: 16px;
}

.product-price {
  color: #28a745;
  margin-top: 5px;
}

/* Modal Styles */
.product-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.product-modal {
  background: white;
  padding: 20px;
  width: 380px;
  color: black;
  text-align: center;
  border-radius: 10px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
.product-modal p {
  font-size: 16px;
  margin: 10px 0;
  max-height: 150px;
  overflow-y: auto;
  line-height: 1.5;
  color: black;
}

.modal-header {
  position: relative;
  height: 30px;
}
.modal-image-container {
  position: relative;
  width: 80%;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8; 
}

.modal-image {
  width: 90%;
  margin: 4% 3%;
  height: 300px;
  object-fit: contain;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


.wishlist-icon {
  position: absolute;
  top: 20px;
  padding: 10px;
  right: 25px;
  font-size: 1.8rem;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}
.full-description {
  margin: 10px 0;
  font-size: 15px;
  line-height: 1.4;
  color: black;
  text-align: center;
}

.modal-meta {
  font-size: 14px;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}
.stock{
  color: green;
}
.add-to-cart-btn {
  padding: 10px 20px;
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  margin-left: 30%;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.add-to-cart-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.filters-container {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  color: black;
  width: 30%;
}
.filter-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 48%;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.filter-select:hover {
  background-color: #f1f1f1;
}

.filter-select:focus {
  outline: none;
  border-color: #007bff;
}


.filter-select:last-child {
  margin-left: 10px; 
}


.filter-select option {
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: white;
}

.filter-select option:hover {
  background-color: #f1f1f1;
}


@media (max-width: 768px) {
  .filters-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-select {
    width: 100%;
    margin-bottom: 10px;
    color: black;
  }

  .filter-select:last-child {
    margin-left: 0;
  }
}
option{
  color: black;
}
.cartbtn{
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}