.testimonials {
  padding: 40px;
  background-color: rgb(236, 229, 208);
  text-align: center;
  color: black;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.testimonials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.testimonial-card {
  background: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 400px;
  text-align: center;
  
}

.stars {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.star-icon {
  color: #f4b400;
}

.arrow {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: transform 0.2s;
}

.arrow:hover {
  transform: scale(1.2);
}

.left-arrow {
  position: absolute;
  left: 10px;
}

.right-arrow {
  position: absolute;
  right: 10px;
}
