body{
  background-color: rgb(235, 228, 228);
}
.wishlist-grid {
  margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
     gap: 20px; 
    justify-content: center;
    padding: 20px;
    max-width: 1400px;
    justify-content: space-evenly;
  }
  
  .wishlist-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    /*height: 350px;
    */color: black;
    text-align: center;
    background-color: #f9f9f9;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
  
  .wishlist-image {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
  
  .wishlist-details {
    margin-top: 10px;
  }
  
  
  .wlst{
    margin-bottom: 10px;
  }
  .addToCart{
     background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
height: 30px;
padding-top: 2px;
  }
  .empty{
    color: black;
    font-weight: bolder;
    font-size: 3rem;
  }