/* ResetPassword.css */
.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 98vw;
  background: #C04848;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.reset-box {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.reset-title {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: black;
}

.reset-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reset-label {
  font-weight: 600;
  text-align: left;
  display: block;
}

.reset-input {
  width: 100%;
  padding: 10px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.reset-button {
  width: 100%;
  background: #D38312;
  /*fallbackforoldbrowsers*/background: -webkit-linear-gradient(to right, #A83279, #D38312);
  /*Chrome10-25,Safari5.1-6*/background: linear-gradient(to right, #A83279, #D38312);
  /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.reset-button:hover {
  background: #db5107;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #380d27, #7a4b09);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4d0c33, #684007); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.reset-error {
  color: red;
  font-size: 14px;
}

.reset-success {
  color: green;
  font-size: 14px;
}

.reset-link {
  margin-top: 15px;
  color: #03284f;
  cursor: pointer;
  font-size: 14px;
  font-weight: bolder;
}

.reset-link:hover {
  text-decoration: underline;
}
