.add-product-form {
    width: 50vw;
    margin: 40px auto;
    padding: 20px;
    color: black;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 25vw;
  }
  
  .add-product-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .add-product-form table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .add-product-form td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .add-product-form label {
    font-weight: normal;
    color: black;
  }
  .des{
    color: black;
    background-color: white;
  }
  .add-product-form input[type="text"],
  .add-product-form input[type="number"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
  }
  
  .add-product-form button[type="submit"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-product-form button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  
  .des{
    background-color: white;
    color: black;
  }
 select, select option {
  color: black !important;
  background-color: white !important;
}
