/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 98vw;
  /background-color: #84a6eb;/
  background: #C04848;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.login-box {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.login-title {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: black;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-label {
  font-weight: 600;
  text-align: left;
  display: block;
  color: black;
}

.login-input {
  width: 100%;
  padding: 10px;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.login-button {
  width: 60%;
   background: #D38312;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 20%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.login-button:hover {
  background: #db5107;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #380d27, #7a4b09);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4d0c33, #684007); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}

.login-error {
  color: red;
  font-size: 14px;
}

.login-links {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-link {
  color: #3c7abc;
  cursor: pointer;
  font-weight: bolder;
  font-size: 0.8rem;
}

.login-link:hover {
  text-decoration: underline;
}
.signup-login-text {
  cursor: pointer;
}
