
.carousel-container {
  width: 100%;
  max-width: 99vw; 
  height: 400px;
  margin: 0 auto; 
  overflow: hidden;
  display: flex;
  justify-content: center;
 
}

.carousel-image {
  width: 100%;
  max-width: 100%;
  height: 450px;
  object-fit: fill;
}


.swiper-pagination-bullet-active {
  background-color: #ff3e6c !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff3e6c !important;
}

/* Responsive Fixes */
@media (max-width: 1024px) {
  .carousel-image {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .carousel-image {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .carousel-image {
    height: 250px;
  }
}
